@font-face {
  font-family: Jost;
  src: url("/src/assets/fonts/jost_variable.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--clair);
  color: var(--sombre);
  //font-family: sans-serif;
  font-family: var(--default-font);
  margin-bottom: 5rem;
}

img {
  max-width: 100%;
}

.page {
  display: none;
}

.page.visible {
  display: block;
}

:root {
  --primary: #218380;
  --secondary: #a39ba8;
  --third: #e2f1af;
  --clair: #edf5fc;
  --clair-transparent: #edf5fccc;
  --sombre: #272d2d;
  --default-font: Jost;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

.d-none {
  display: none !important;
}
