.discover {
  margin-top: 2rem;
}
.discover__txt--title {
  font-size: 1.2rem;
}
.discover__txt--liste {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  color: rgba(39, 45, 45, 0.5);
}
